@font-face {
  src: url("../font-family/Rubik-VariableFont_wght.ttf");
  font-family: rubik;
}
/* ALL */
* {
  font-family: "rubik";
}
h1 {
  color: #0b132a;
}
ul {
  padding-left: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: auto 150px;
  box-sizing: border-box;
}

/* NAVIGATION */
.nav {
  margin-top: 50px;
}
.nav-content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  color: #4f5665;
  margin: auto 20px;
}
.sign-in {
  font-weight: 700;
  color: #0b132a;
}
.sign-up {
  font-weight: 700;
  color: #f53855;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #f53855;
}

/* INFO 1 */
.info {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
  justify-content: space-between;
}
.info-content h1 {
  font-size: 55px;
  font-weight: 600;
}
.lasnesvpn {
  font-weight: 700;
}
.info-text {
  line-height: 2;
  color: #4f5665;
  font-size: large;
  margin-bottom: 50px;
}
.info-text span {
  font-weight: bold;
}
.info-get {
  color: white;
  font-weight: bold;
  padding: 20px 80px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f53838;
  box-shadow: 10px 20px 50px 0px #e9a9a9;
}

/* VPN */
.vpn {
  display: flex;
  padding: 60px;
  align-items: center;
  margin-bottom: 100px;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 10px 30px 20px -10px rgba(196, 196, 196, 0.345);
}
.vpn-content {
  display: flex;
  padding-left: 85px;
  align-items: center;
  border-right: 2px solid rgba(196, 196, 196, 0.445);
}
.vpn-content div {
  margin-left: 30px;
}
.vpn-text {
  margin: 0px;
  font-size: 28px;
  font-weight: 900;
  padding-right: 150px;
}
.vpn-span {
  margin: 0px;
  color: #4f5665;
  font-size: large;
  padding-top: 5px;
  font-weight: normal;
}
.vpn-end {
  border-right: none;
}

/* INFO 2 */
.info-2 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.info-content-2 {
  margin-left: 75px;
  margin-right: 75px;
}
.info-content-2 h1 {
  font-size: 32px;
}
.info-content-2 p {
  line-height: 2;
  color: #4f5665;
  font-size: large;
}
.info-content-2 span {
  line-height: 3;
  color: #4f5665;
  padding-left: 10px;
}
.info-content-2 li {
  display: flex;
  align-items: center;
}

/* SHOP */
.shop-div {
  padding-top: 40px;
  background-color: #f7f5f594;
}
.choose {
  font-size: 36px;
  color: #0b132a;
  text-align: center;
}
.choose-text {
  margin: auto;
  width: 530px;
  color: #4f5665;
  text-align: center;
}
.shop {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}
.shop-title {
  color: #0b132a;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.shop-content {
  display: grid;
  padding: 80px;
  border-radius: 10px;
  border: 2px solid #dddddd;
  align-content: space-between;
}
.shop-select:hover {
  color: white;
  background-color: #f53838;
  box-shadow: 10px 20px 50px 0px #e9a9a9;
}
.shop-content span {
  line-height: 3;
  color: #4f5665;
  padding-left: 15px;
}
.shop-select {
  font-size: large;
  color: #f53855;
  font-weight: bold;
  padding: 10px 70px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 3px solid #f53838;
  box-shadow: 10px 20px 50px -20px #e9a9a9;
}
.shop-buy {
  font-size: larger;
  text-align: center;
  align-items: center;
  margin-bottom: -10px;
}
.shop-title p {
  padding-top: 20px;
}
.shop-content:hover {
  border: 2px solid #f53838;
}
/* MAP */
.map {
  text-align: center;
}
.map-title {
  margin: auto;
  width: 520px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 150px;
}
.map-title h1 {
  font-size: 36px;
  line-height: 1.5;
}
.map-title p {
  line-height: 2;
  color: #4f5665;
}
.map-title span {
  font-weight: bold;
}
.map-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* CARD */
.card-1 {
  display: flex;
  width: 1400px;
  justify-content: space-between;
}
.card-title {
  margin: auto;
  width: 520px;
  text-align: center;
  margin-bottom: 50px;
}
.card-title h1 {
  font-size: 36px;
  line-height: 1.5;
}
.card-title p {
  line-height: 2;
  color: #4f5665;
}
.card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #dddddd;
}
.card:hover {
  border: 3px solid #f53838;
}
.card-robert {
  display: flex;
  align-items: center;
}
.card-robert-in {
  margin-left: 20px;
  margin-right: 150px;
}
.card-robert-name {
  font-size: 18px;
  font-weight: bold;
}
.card-robert-p {
  line-height: 2;
  color: #0b132a;
  font-weight: 500;
}
.card-robert-address {
  font-size: 14px;
  color: #4f5665;
}

/* SUBSCRIBE */
.subscribe {
  padding: 30px 60px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  box-shadow: 10px 30px 120px -70px;
}
.subscribe-com h1 {
  width: 360px;
  font-size: 36px;
}
.subscribe-text {
  color: #4f5665;
}
.subscribe-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 60px;
  border-radius: 10px;
  border: 1px solid #f53838;
  background-color: #f53838;
  box-shadow: 10px 20px 50px 0px #e9a9a9;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f844;
  margin-bottom: 100px;
}
.footer-item {
  line-height: 2.5;
}
.footer-item li a{
  color: #4f5665;
}
.footer-item li h3 {
  color: #0b132a;
}
.footer-text{
  line-height: 2;
  color: #4F5665;
}
.footer-text span {
  font-weight: bold;
}
.footer-share{
  display: flex;
}
.footer-component {
  display: flex;
  align-items: flex-start;
}
.footer-component1{
  padding-right: 200px;
  padding-top: 30px;
}
.footer-design {
  color: #AFB5C0;
}
.footer-design span{
  font-weight: bold;
}